<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    <style>
    #table
    {
        float: center;
        padding: 20px;
    }    
    #box
    {
        float: left;
        padding: 20px;
    }
    </style>
</head>


{% block scripts %}

    
{{ qs.humidity|json_script:"humidity" }}
{{ qs.light_intensity|json_script:"light_intensity"}}
{{ qs.air_temp|json_script:"air_temp"}}
{{ qs.soil_temp|json_script:"soil_temp"}}
{{ qs.time|json_script:"time"}}


<script>
humidity = JSON.parse(document.getElementById("humidity").textContent);
light_intensity = JSON.parse(document.getElementById("light_intensity").textContent);
air_temp = JSON.parse(document.getElementById("air_temp").textContent);
soil_temp = JSON.parse(document.getElementById("soil_temp").textContent);
time = JSON.parse(document.getElementById("time").textContent);
</script>

{% endblock scripts %}


<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    How are the plants doing ?
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div id = "table">
                <div class="columns">
                    <div id = "box">
                        <div class="box">
                            <article class="media">
                                <div class="media-left">
                                    <figure class="image is-50x50">
                                        <img src="http://openweathermap.org/img/w/10d.png" alt="Image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <span class="title">Moisture</span>
                                            <br>
                                            <span class="subtitle">100</span>
                                            <br>
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div id = "box">
                        <div class="box">
                            <article class="media">
                                <div class="media-left">
                                    <figure class="image is-50x50">
                                        <img src="http://openweathermap.org/img/w/10d.png" alt="Image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <span class="title">Moisture</span>
                                            <br>
                                            <span class="subtitle">100</span>
                                            <br>
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div id = "box">
                        <div class="box">
                            <article class="media">
                                <div class="media-left">
                                    <figure class="image is-50x50">
                                        <img src="http://openweathermap.org/img/w/10d.png" alt="Image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <span class="title">Moisture</span>
                                            <br>
                                            <span class="subtitle">100</span>
                                            <br>
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div id = "box">
                        <div class="box">
                            <article class="media">
                                <div class="media-left">
                                    <figure class="image is-50x50">
                                        <img src="http://openweathermap.org/img/w/10d.png" alt="Image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <span class="title">Moisture</span>
                                            <br>
                                            <span class="subtitle">100</span>
                                            <br>
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <footer class="footer">
    </footer>
</body>



</html>